<h1>Zombie Survival Social Network</h1>
<h2><br><%= link_to "Register Survivors", "/survivors" %><br/>
<br><%= link_to "Register contaminated survivor", "/contamination_reports" %><br/>
<br><%= link_to "Report", "/report" %><br/>
</h2>
